/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/front//node_modules

/docker/docker_nginx/*
!/docker/docker_nginx/.keep
!/docker/docker_nginx/default_example.conf
!/docker/docker_nginx/default_example_secure.conf
!/docker/docker_nginx/sites-enabled/
/docker/docker_nginx/sites-enabled/*
!/docker/docker_nginx/sites-enabled/.keep
!/docker/docker_nginx/certs/
/docker/docker_dump/*
!/docker/docker_dump/.keep

/docker/docker_apache/*
!/docker/docker_apache/.keep
!/docker/docker_apache/default_apache.conf
!/docker/docker_apache/httpd-vhosts.conf
!/docker/docker_apache/conf/
/docker/docker_apache/conf/*
!/docker/docker_apache/conf/.keep

/docker/docker_mysql/conf/*
!/docker/docker_mysql/conf/.keep
/docker/docker_mysql/data/*
!/docker/docker_mysql/data/.keep
!/docker/docker_mysql/.keep